[2021-08-31 10:02] Utkarsh1504 opened #1 "new lesson: Introduction to Arrays"
### ⭐ Request Type

Add proper documentation for the lesson `Introduction to Arrays` in the [file](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/arrays.md)

### 💻 Location

This lesson is present under the
Section: `4`
Lesson: `A`
File-Name: `arrays.md`

### ❌ Additional Info

You can take the help of other markdown files in the `/lesson` [directory](https://github.com/Utkarsh1504/DSA-

[2021-08-31 15:57] Utkarsh1504 opened #4 "improve: Operators in Java"
### ⭐ Summary

1. table in the 'increment and decrement operator' topic needs improvement.
2. all the code examples should be converted into java from c++.

### 💻 Location

Section: `3`
Lesson: `B`
Location Order: `3B`
File Name: `operator.md`

### ❌ Additional Info

[here](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/operators.md) you can start your contribution

[2021-09-01 18:11] Utkarsh1504 opened #5 "new lesson: Jumps Statements"
### ⭐ Request Type

Add remaining documentation for the lesson `Jumps Statements` in the [file](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/jumps.md)

### 💻 Location

This lesson is present under the
Section: `3`
Lesson: `E`
Location Order: `3E`
File-Name: `jumps.md`

### ❌ Additional Info

[here](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/operators.md) you can take th

[2021-09-03 15:15] Utkarsh1504 opened #6 "new lesson: Functions/Methods & Scope"
### ⭐ Request Type

Add details documentation/content for the lesson `Functions/Methods & Scope` .
you can start your contribution from [here](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/functions.md)

### 💻 Location

This lesson is present under the
Section: `3`
Lesson: `F`
Location Order: `3F`
File-Name: `function.md`

### ❌ Additional Info

You can take the help of other markdown

[2021-09-03 23:17] daniellekush commented on #1
Hey, I'm new to contributing but I'd like to take this on if possible.

[2021-09-04 03:58] Utkarsh1504 commented on #1
@daniellekush absolutely go-ahead.

[2021-09-04 16:13] Utkarsh1504 opened #7 "new lesson: ArrayList In Java"
### ⭐ Request Type

Add details documentation/content for the lesson `ArrayList In Java`.
you can start your contribution from [here](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/arraylist.md)

### 💻 Location

This lesson is present under the
Section: `4`
Lesson: `B`
Location Order: `4B`
File-Name: `arraylist.md`

### ❌ Additional Info

You can take the help of other markdown files in

[2021-09-04 20:06] Guannan-Shen opened #8 "improve: the explanations of the logical operators AND and OR: && vs. & and || vs. |"
### ⭐ Summary

Descriptions of &&(AND) and || (OR) might be misleading and less accurate:

[code]

For instance, || gives true if the 1st operand has a  true value, and it will not try to evaluate the 2nd operand.
It might be helpful to mention **&** and **|** first, and then present a comparison between **&** and **&&**, as well as **|** and **||**.

### 💻 Location

See following markdown files:

[2021-09-05 04:11] Utkarsh1504 commented on #8
@Guannan-Shen thanks for raising the issue

[2021-09-05 04:28] Utkarsh1504 opened #9 "improve: Input/Output & Conditionals"
### ⭐ Summary
1. switch statement needs program explanation

### 💻 Location

Section: `3`
Lesson: `C`
Location Order: `3C`
File Name: `io-conditionals.md`

### ❌ Additional Info

[here](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/io-conditionals.md) you can start your contribution

[2021-09-09 16:55] Utkarsh1504 opened #11 "new lesson: Linear Search"
### ⭐ Request Type

Add in-depth documentation for `linear search` algorithm [here](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/linearsearch.md)

### 💻 Location

This lesson is present under the
Section: `5`
Lesson: `A`
Location Order: `5A`
File-Name: `linearsearch.md`

### ❌ Additional Info

You can take the help of other markdown files in the /lesson [directory](https://github.com/

[2021-09-09 17:00] Utkarsh1504 opened #12 "new lesson: Binary Search"
### ⭐ Request Type

Add in-depth documentation for binary-search algorithm [here](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/binarysearch.md)

### 💻 Location

This lesson is present under the
Section: `5`
Lesson: `B`
Location Order: `5B`
File-Name: `binarysearch.md`

### ❌ Additional Info

You can take the help of other markdown files in the /lesson [directory](https://github.com/Ut

[2021-09-09 20:15] mriceflame commented on #1
Can i start working on it now? and merge my PR during Hacktoberfest?

[2021-09-09 20:16] mriceflame opened #13 "Can you create one for DSA in cpp?"
### Other

This will help alot of beginners to contribute who study DSA in cpp

### Additional information

_No response_

[2021-09-10 04:13] Utkarsh1504 commented on #1
@mriceflame sure.

[2021-09-10 04:20] Utkarsh1504 commented on #13
ok I will create one more on C++

[2021-09-22 02:26] Ayushi7456 commented on #7
I would like to work on this.

[2021-09-22 02:28] Ayushi7456 commented on #5
I would like to work on this.

[2021-09-22 04:23] Utkarsh1504 commented on #5
@Ayushi7456 sure, go ahead.
make sure to read the contribution guidelines

[2021-09-22 04:24] Utkarsh1504 commented on #7
@Ayushi7456 sure.

[2021-09-22 10:50] Buddhad commented on #12
Hi, I would like to work on this issue.
can you suggest to me ways to get started?

[2021-09-22 12:46] Utkarsh1504 commented on #12
@Buddhad sure you can start working on this issue, just make sure to read the contribution guideline once and you'll be good to go.
you can take help from other markdown files, present in the /lesson directory, and in the same syntax write some java content for the [`binarysearch.md`](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/binarysearch.md)

[2021-09-23 06:34] Buddhad commented on #12
I'm glad to work on this issue.
Thanks for the help.

[2021-09-24 11:56] Buddhad opened #15 "new lesson: Binary Search Tree"
### ⭐ Request Type

Add in-depth documentation for binary-search-tree algorithm [here](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/intro-bst.md).

### 💻 Location

This lesson is present under the
Section: `16`
Lesson: `A`
Location Order: `16A`
File-Name: `intro-bst.md`

### ❌ Additional Info

You can take the help of other markdown files in the /lesson [directory](https://github.com/

[2021-09-25 00:51] Vivek-Prajapatii commented on #4
Hii @Utkarsh1504, i'm interested in this and i'm new to open source can you please brief me about the issue

[2021-09-25 01:01] Vivek-Prajapatii commented on #6
Hii @Utkarsh1504, I'm interested in this issue,  but i'm new to openource can you please guide me or brief me about the issue.
thank you

[2021-09-25 03:43] Utkarsh1504 commented on #6
@Vivek-Prajapatii  sure, first of all, read our contribution guidelines, you will get some idea how you can contribute to our repo.
then come to this issue read about the issue, I already have given enough information on how you can get started, for getting started make sure you are well equipped with markdowns and have some knowledge about `Functions/Methods & Scopt` in  Java.
- you can take refe

[2021-09-25 22:41] paltannistha commented on #11
I want to work on this issue.
Can you please help me to get started?

[2021-09-25 22:52] paltannistha commented on #12
I would like to work on this issue.

[2021-09-25 23:05] paltannistha commented on #6
I would like to work on this issue. Please assign me.

[2021-09-25 23:06] paltannistha commented on #1
I want to work on this issue.

[2021-09-26 02:17] DurveshKumarPal opened #17 "Can you create DSA in Java"
### ⭐ Request Type

Add some DSA problems in java.

This will help alot of beginners to contribute who study DSA in Java

### 💻 Location

-

### ❌ Additional Info

beginners to contribute who study DSA in Java

[2021-09-26 03:28] Utkarsh1504 commented on #12
@paltannistha absolutely you can, just once read our contribution guideline you'll get some idea how you get started.

[2021-09-26 03:49] Utkarsh1504 commented on #17
@DurveshKumarPal This is already DSA in Java.
We will add questions in Assignment Section which is the last section

[2021-09-26 03:52] Utkarsh1504 commented on #6
we don't assign @paltannistha, the first valid PR will be considered only.

[2021-09-26 03:55] Utkarsh1504 commented on #1
@paltannistha I think people already working on this issue, but don't worry I will raise a lot more issues in the upcoming days.

[2021-09-26 03:58] Utkarsh1504 commented on #11
Sure @paltannistha you can start working on this issue.

[2021-09-26 04:11] DurveshKumarPal commented on #17
@Utkarsh1504 Oh, I got it section

[2021-09-26 04:11] #17 closed

[2021-09-26 04:24] DurveshKumarPal commented on #17
@Utkarsh1504 in Java DSA lesson has no code.

[2021-09-26 04:41] Utkarsh1504 commented on #17
@DurveshKumarPal yes, there is a lot of work is to be done, you can contribute to this repo that will help us a lot and you too

[2021-09-26 04:42] DurveshKumarPal commented on #9
Hey, can I improve explanation in C++ to java

[2021-09-26 04:43] roshaan005 commented on #15
Can I work on this issue?

[2021-09-26 04:44] Utkarsh1504 commented on #9
@DurveshKumarPal absolutely yes.

[2021-09-26 04:45] roshaan005 commented on #8
I have a good grip on the AND and OR operators , if this issue is open , I'd love to contribute

[2021-09-26 04:46] DurveshKumarPal commented on #17
sure but add code only??

[2021-09-26 04:49] Utkarsh1504 commented on #15
Thank you for your interest in contributing to our Repo:
- this issue is already taken by @Buddhad.
- you can start working on the other issues.
- And don't worry I'll create more issues by the time so anyone can work on them.

[2021-09-26 04:53] Utkarsh1504 commented on #17
@DurveshKumarPal  no, you can take reference from this [markdown](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/loops.md) and in the same fashion, you have to write for others.

[2021-09-26 04:54] Utkarsh1504 commented on #8
@roshaan005 sure, please do it.

[2021-09-26 05:06] roshaan005 commented on #8
on it!

[2021-09-26 05:07] Utkarsh1504 commented on #8
yes

[2021-09-26 07:17] DurveshKumarPal commented on #9
#18

[2021-09-26 08:41] Utkarsh1504 opened #19 "new lesson: Bubble Sort"
### ⭐ Request Type

Add in-depth documentation on the sorting algorithm Bubble Sort
- The markdown file is located [here](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/bubblesort.md).

## Lesson Content
The lesson must contain at least these are the topics:
1. Introduction to Sorting
2. Stable and Unstable sorting algorithms
3. Bubble Sort + Why Bubble sort?
4. Complexity Analysis of B

[2021-09-26 10:32] paltannistha commented on #11
Thanks. This year I want to take part in Hacktoberfest. So should I create the pull request when the event will get started?

[2021-09-26 10:33] paltannistha commented on #19
I will work on this.

[2021-09-26 10:35] paltannistha commented on #1
@Utkarsh1504 okay thank you.

[2021-09-26 10:35] paltannistha commented on #12
@Utkarsh1504 okay thank you.

[2021-09-26 10:37] paltannistha commented on #6
@Utkarsh1504 okay thank you.

[2021-09-26 15:11] Utkarsh1504 commented on #11
@paltannistha yes, work on the PR.
You have to fill a google form, I'll share it with you all very soon.

[2021-09-26 15:11] Utkarsh1504 commented on #19
ok

[2021-09-26 15:31] preeti-14-7 commented on #7
Can I work on this issue ?

[2021-09-26 16:00] Utkarsh1504 commented on #7
@preeti-14-7 I'll raise more issues, you can work on those.

[2021-09-26 16:09] #15 closed

[2021-09-26 16:11] #8 closed

[2021-09-26 20:22] Jisan129 commented on #19
Can I work on this ?

[2021-09-27 07:34] Captainfaisal13 commented on #11
can i work on this ?

[2021-09-27 08:15] Utkarsh1504 commented on #11
@Captainfaisal13  YES, sure but the first PR will be considered,
I'll raise more issues you can work on them

[2021-09-27 08:24] Utkarsh1504 commented on #19
@Jisan129 YES, Just read our contribution guideline and have a look at the website and all the directories inside the repo to get an idea of how this project works. Then you'll be good to go.

[2021-09-27 16:40] Utkarsh1504 opened #22 "new lesson: Selection Sort"
### ⭐ Request Type

Add in-depth documentation on the sorting algorithm Selection Sort.
The markdown file is located [here](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/selectionsort.md).

## Lesson Content
1. Introduction to Selection Sort
2. Complete explanation on Selection sort
2. Complexity of Selection Sort
3. Worst-Case + Best Case + Stability
4. Code for Selection Sort
5. Expl

[2021-09-27 16:47] Utkarsh1504 opened #23 "new lesson: Insertion Sort"
### ⭐ Request Type

Add in-depth documentation on the sorting algorithm Insertion Sort.
The markdown file is located [here](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/insertion.md).
## Lesson Content
The lesson must contain at least these are the topics:

1. Introduction to Insertion Sort
2. Complete explanation on Insertion sort
3. Complexity Analysis of Insertion Sort
4. Worst-Cas

[2021-09-28 07:03] Abhijit25Mishra commented on #23
hey i can do this. I am a 3 star at codechef and have a lot of experience in cp.

[2021-09-28 07:06] Abhijit25Mishra commented on #22
hey i can do this. I am a 3 star at codechef and have a lot of experience in cp.

[2021-09-28 07:09] Utkarsh1504 commented on #23
@Abhijit25Mishra sure, but please write those notes which are taught by @kunal-kushwaha in his tutorials.
you can add your own notes as a markdown too but the first preference goes to DSA-Bootcamp-Java notes.

[2021-09-28 19:38] siddhiiguptaa commented on #22
Hey! I would like to contribute to this, I have been learning DSA from Kunal's videos only so I have some premade notes too for this issue to get rectified quickly. Kindly assign this to me. Thank You!

[2021-09-29 02:15] Abhijit25Mishra commented on #22
ok , will do. so pls assign this to me!

[2021-09-29 03:28] Utkarsh1504 commented on #22
@siddhigupta ok sure.

[2021-09-29 16:11] Utkarsh1504 opened #24 "new lesson: Cycle Sort"
### ⭐ Request Type

Add in-depth documentation on the sorting algorithm Cycle Sort.
you need to create a markdown file for this.

### Lesson Content
The lesson must contain at least these are the topics:

1. Introduction to Cycle Sort
2. Complete explanation on Cycle Sort
3. Complexity Analysis of Cycle Sort
4. Worst-Case + Best Case
5. Code for Cycle Sort
6. Explanation of Code Example

### 💻 Loc

[2021-09-29 16:29] Utkarsh1504 opened #25 "new lesson: Introduction to Strings"
### ⭐ Request Type

Add in-depth documentation on the Strings in Java.
The markdown file is located [here](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/intro-string.md).

### Lesson Content
The lesson must contain at least these are the topics:

1. Introduction
2. What is String?
3. String Creation: String Literal
4. String Creation: new Keyword
4. How Strings Stored In Memory
5. Stri

[2021-09-29 16:35] Utkarsh1504 opened #26 "new lesson: StringBuilder in Java"
### ⭐ Request Type

Add brief documentation on the StringBuilder Class in Java.
The markdown file is located [here](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/string-builder.md).

### Lesson Content
1. Introduction
2. Code examples for StringBuilder
3. code explanation

### 💻 Location

This lesson is present under the
Section: 6
Lesson: B
Location Order: 6B
File-Name: [string-builde

[2021-09-29 16:47] siddhiiguptaa commented on #22
@Utkarsh1504 Started working on it! 👍 Please add the relevant hacktober approved labels which are new this year 😊 Thanks for the opportunity!

[2021-09-29 16:57] Utkarsh1504 commented on #22
@siddhiiguptaa make sure to read our contribution guideline once and in order to get eligible, make your PR during hacktoberfest only so that it gets the count.
Thanks!

[2021-09-29 19:44] AsswinCR commented on #26
Hi @Utkarsh1504 !, can u assign me to do the documentation for this(String Builder in Java)? I can work on this .

[2021-09-29 20:26] aniket-24 commented on #25
Please assign me this issue!

[2021-09-29 20:27] aniket-24 commented on #24
Please assign me this issue!

[2021-09-30 01:08] aryanbramhane commented on #6
I will also like to work on this issue.

[2021-09-30 02:07] RahulSoni0 commented on #26
Can i work on this issue ?

[2021-09-30 03:41] Utkarsh1504 commented on #25
@aniket-24 this will be quite lengthy and needs a lot of documentation.
Take your time and make contributions, Thank you

[2021-09-30 03:46] Utkarsh1504 commented on #6
@aryanbramhane  In the Conclusion part you just have to conclude some most important points regarding Methods in Java, that it, I will raise more issues you also work on them,
Thank you for your interest!

[2021-09-30 03:50] Utkarsh1504 commented on #26
@AsswinCR Sure, you start working on this issue. Just make sure to read the contribution guideline that would be great, Thanks.

[2021-09-30 03:53] Utkarsh1504 commented on #26
Hey @RahulSoni0, man sorry for you, you can work on another issue as this issue is already requested by @AsswinCR but don't worry, I will raise more issues and will assign you for sure. Thanks @RahulSoni0

[2021-09-30 03:56] Utkarsh1504 commented on #26
@RahulSoni0 you can work on Cycle Sort, just drop a comment, I will assign you.

[2021-09-30 04:51] RahulSoni0 commented on #26
Okay , i can work on Cycle sort , please assign that ,

[2021-09-30 05:01] RahulSoni0 commented on #24
Can i work on this issue ?

[2021-09-30 08:44] Utkarsh1504 opened #28 "Welcome to DSA-Java Discussions! 👋"
### Other

## 👋 Hello Everyone!

We’re using Discussions as a place to connect with other members of our community.
- Kindly check out #27
- and **fill this form (https://forms.gle/GJSUTPBJ4Rw4DTMk9) if you are participating in Hactoberfest**

### Additional information

## Welcome to Hacktoberfest 2021!
You can visit this repo https://github.com/vinitshahdeo/Hacktoberfest2021 for some beginner-fr

[2021-09-30 13:17] Subhadiptech commented on #5
I will love to work on this issue!

[2021-09-30 14:56] Utkarsh1504 commented on #5
@Subhadiptech you can work on other issues, I'll raise them later till then the fork and star the repo, and please the read contribution guidelines. Thank you!

[2021-09-30 16:47] Sujit2209 commented on #11
Is this issue still open,  Can I work on this?

[2021-09-30 16:55] Utkarsh1504 commented on #11
@Sujit2209 I will raise more issues you can work on them this issue is already taken by someone else, till then keep your eyes on the issue section.
And also read the contribution guidelines that will help in your future contribution. Thanks

[2021-09-30 16:59] Subhadiptech commented on #5
Ok. Thats fine

[2021-09-30 16:59] Utkarsh1504 commented on #7
@preeti-14-7 I have assigned this issue to you, starting working on it, Thanks

[2021-09-30 18:30] Ayan-thecodeking commented on #4
can i work on this issue

[2021-09-30 18:30] Ayan-thecodeking commented on #1
pls assign me i want to work on this issue

[2021-09-30 18:35] satyamgupta1495 commented on #24
I'd love to work on this issue! could you please assign me this?

[2021-09-30 20:31] aniketartani commented on #11
please assign me.

[2021-09-30 21:45] paltannistha commented on #11
@Utkarsh1504 ok thank you.

[2021-09-30 21:46] paltannistha commented on #22
I want to work on this issue. Please assign me to this.

[2021-10-01 03:29] Utkarsh1504 commented on #4
yes, you can.

[2021-10-01 03:37] Ayan-thecodeking commented on #4
Thnx I'll make a pr ASAP

[2021-10-01 03:43] Utkarsh1504 opened #29 "new lesson: Learn Data Types"
### ⭐ Request Type

This lesson is not yet completed a lot of things are still to be added, please add in-depth documentation for this lesson.
This markdown is located [here](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/dataTypes.md)

### 💻 Location

This lesson is present under the
Section: `3`
Lesson: `A`
Location Order: `3A`
File-Name: [`dataTypes.md`](https://github.com/Utkarsh150

[2021-10-01 05:33] AmitSamui commented on #29
I would like to contribute in this issue.

[2021-10-01 05:47] preeti-14-7 commented on #7
okay sure!!

[2021-10-01 05:52] vinayakj592 commented on #29
Please assign me this issue

[2021-10-01 06:21] Sahilnegi-code commented on #11
pls assign me this issue.

[2021-10-01 06:27] Utkarsh1504 commented on #11
@Sahilnegi-code already assigned please work on other issues

[2021-10-01 06:28] Utkarsh1504 commented on #29
sure @AmitSamui

[2021-10-01 06:29] Utkarsh1504 commented on #29
@vinayakj592 please work on other issues, I'll raise some issues don't worry, and you can work on those
Thank you

[2021-10-01 06:32] aniketartani opened #31 "new lesson: Move All Zeros to End of an Array"
### ⭐ Request Type

You have been given a random integer array of size N. You have been required to push all the zeros that are present in the array to the end of it such that the relative order of the non-zero elements should be maintained.

### 💻 Location

This lesson is present under the
Section: 5
Lesson: E
Location Order: 5E
File-Name: Move.md

### ❌ Additional Info

This lesson must consist

[2021-10-01 06:34] aniketartani commented on #31
@Utkarsh1504  can you please assign me this and add tags in this issue.

[2021-10-01 06:45] ananya0504 commented on #13
I can contribute to the one in C++

[2021-10-01 06:53] ananya0504 commented on #9
Is the issue fixed?

[2021-10-01 06:56] ananya0504 commented on #31
Hi, I would like to contribute to this issue!

[2021-10-01 07:02] Utkarsh1504 commented on #31
@aniketartani This is a standard question, not a concept, so, if you want to contribute this question and its approach feel free to create a file for all the standard questions related to searching  and sorting names as `practise-question.md` and then do your contribution
make sure to add this file to its correct location.
Thank you!

[2021-10-01 07:03] Utkarsh1504 commented on #31
@ananya0504 I'll raise more issues you can work on that,
till then keep your eyes on the issues section, Thank you!

[2021-10-01 07:03] vinayakj592 commented on #29
Okay Sure.

[2021-10-01 07:04] aniketartani commented on #31
@Utkarsh1504 Ok i will add all the questions regarding searching and sorting. Will it be considered under Hackoctober?

[2021-10-01 07:04] aniketartani commented on #31
I need to add only questions , right?

[2021-10-01 07:05] Utkarsh1504 commented on #31
This lesson must consist of at least the following topic:
Approach
Program
program explanation
Time Complexity
all these thing which you have mention

[2021-10-01 07:06] N00Bmaster2810 commented on #9
Can you please assign me this if it's finished  yet.

[2021-10-01 07:06] aniketartani commented on #31
Approx how many programs should be there?

[2021-10-01 07:07] Utkarsh1504 commented on #31
As your wish, you can add one-two or many. All will be counted as meaning contribution

[2021-10-01 07:08] Utkarsh1504 commented on #9
no @ananya0504 not yet. you can start working on it.

[2021-10-01 07:09] Utkarsh1504 commented on #13
@ananya0504 I haven't created a website for c++ yet,
you can contribute in java if you want

[2021-10-01 07:27] sidsrivastavasks commented on #31
Hey, Assign me this task... I can solve it with proper explanation and clean code. I can solve this problem using all four languages - C, CPP, Java, and Python

[2021-10-01 07:37] ananya0504 commented on #9
Thanks @Utkarsh1504
Will complete it asap

[2021-10-01 08:03] tanishagupta1 opened #34 "Image in dataTypes.md is broken"
### Other

![Screenshot (2665)](https://user-images.githubusercontent.com/73746588/135586219-ad6e92cb-525f-4967-ae58-808d611eb814.png)
The image just above the buttons is broken

### Additional information

It would be great if you could please assign this issue to me under hacktoberfest if find relevant

[2021-10-01 09:05] Utkarsh1504 commented on #34
@tanishagupta1 actually there is no image for in the /lesson/images folder if you wanted to contribute you can add image for datatypes in java.
make sure that the image is copyright free

[2021-10-01 09:13] #31 closed

[2021-10-01 09:32] shoebxsiddiqui commented on #1
\assign

[2021-10-01 09:42] Mansivjain00 commented on #25
Hey i would like to work on this issue too!

If aniket is doing it too, maybe we could divide the work. Also i would like to do this under the hacktoberfest

[2021-10-01 09:44] tanishagupta1 commented on #34
Yeah sure, I'll add the image, is there any specification for the image?

[2021-10-01 09:52] Utkarsh1504 commented on #34
you can add whatever image looks good to you but it should be like this:
https://media.geeksforgeeks.org/wp-content/cdn-uploads/20191105111644/Data-types-in-Java.jpg

Don't use this exact image instead use a copyright-free image.  Thank you

[2021-10-01 10:00] Utkarsh1504 commented on #25
Yes, absolutely you can, as this lesson is going to be quite long you can divide the work. actually, I'm raising another issue for the same, doing the half syllabus for each one

1. Introduction
2. What is String?
3. String Creation: String Literal
4. String Creation: new Keyword
5. How Strings Stored In Memory
6. String Pooling
7. String Immutability In Java
8. String Comparison

9. PrintStream C

[2021-10-01 10:04] Utkarsh1504 opened #36 "new lesson: Introduction to Strings part-2"
### ⭐ Request Type

Add in-depth documentation on the Strings in Java.
The markdown file is located [here](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/intro-string.md).

## Lesson Content
This is the part-2 the issue #25
The lesson further contains at least these are the topics:

9. PrintStream Class
10. Important Strings Methods
11. String Operations
12. Format Specifier
13. String

[2021-10-01 10:05] Mansivjain00 commented on #36
Okay great! so i'll work on this one??

[2021-10-01 10:06] Utkarsh1504 commented on #25
@Mansivjain00 drop a comment on the second issue I'll assign you

[2021-10-01 10:08] Mansivjain00 commented on #36
Also, i had a doubt..what do you mean by some code examples? what kind of code examples?

[2021-10-01 10:11] Utkarsh1504 commented on #36
code examples based on strings or string builder(some standard question through which anyone can get the concept of strings)

[2021-10-01 10:38] DurveshKumarPal commented on #9
#37

[2021-10-01 11:52] aniketartani opened #38 "Update practise-questions.md"
### ⭐ Summary

I want to add more practice questions for searching and sorting.

### 💻 Location

This lesson is present under the
Section: 5
Lesson: E
Location Order: 5E
File-Name: practise-question.md

### ❌ Additional Info

This lesson must consist of at least the following topic:
Approach
Program
program explanation
Time Complexity

[2021-10-01 11:53] aniketartani commented on #38
@Utkarsh1504 Please assign me this issue, only 1 PR is left for me to complete the challenge.

[2021-10-01 12:51] DurveshKumarPal commented on #4
@Utkarsh1504 can you assign me this task i already complete half of the task

[2021-10-01 13:06] preeti-14-7 commented on #7
Can i add the info direct in website ?? i mean editing html file

[2021-10-01 14:03] ShivamTyagi12345 opened #40 "new lesson: <Linked List>"
### ⭐ Request Type

Intro To Linked Lists

### 💻 Location

12 A

### ❌ Additional Info

_No response_

[2021-10-01 14:07] ShivamTyagi12345 commented on #40
hey @Utkarsh1504  , I noticed there were no contents provided for linked lists . Can I start working on this ,as a part of my Hacktober contributions?

[2021-10-01 14:53] Utkarsh1504 commented on #7
@preeti-14-7 no you have to do it in form of markdown, if you don't how to do markdown and markdown will be automatically converted into the HTML.
 - follow this resource - https://guides.github.com/features/mastering-markdown/
 - And in this file https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/arraylist.md you have to write about the Arraylist in Java
 -
I hope you get this, you if stil

[2021-10-01 14:59] Utkarsh1504 commented on #40
Please wait for some more time, I have to adjust the syllabus of this topic, you can work on this issue. But I have to add some more lessons to the Linked Lists section.
Or you can discuss the syllabus for this lesson with me and then you can start your contribution.

[2021-10-01 15:10] aniketartani commented on #38
ok let me know what I need to do

[2021-10-01 15:11] aniketartani commented on #38
@Utkarsh1504 tell me any change in documentation or anything you want to update.I will do it asap

[2021-10-01 15:41] chaitanyatekane opened #42 "improve: problem-solving"
### ⭐ Summary

can I add solutions to leetcode questions in java?

### 💻 Location

we can add new leetcode folder

### ❌ Additional Info

_No response_

[2021-10-01 15:43] chaitanyatekane commented on #42
please assign me this, so that i can add and make my pull request!!
will help me for my hacktoberfest contribution!!

[2021-10-01 16:03] Kajal13081 opened #43 "new lesson: Boyer-Moore Majority Voting Algorithm"
### ⭐ Request Type
Add the documentation for the lesson Boyer-Moore Majority Voting Algorithm.
Start your contribution from this [file](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/bmmv-algorithm.md)
I would like to make a document on the following algorithm.
1. Boyer-Moore Majority Voting Algorithm

### 💻 Location
This lesson should be at:
Section: `4`
Lesson: `D`
Order: `4D`
File-na

[2021-10-01 16:03] Utkarsh1504 commented on #42
@chaitanyatekane no we don't add Leetcode solutions to this site, It consists of just some great notes for quick revision anytime anywhere. If you wanted to contribute to notes, you are most welcome.🎉🎈

[2021-10-01 16:04] Kajal13081 commented on #43
@Utkarsh1504 can I proceed with this issue?

[2021-10-01 16:37] utkarshgupta611 commented on #26
Please assign me this issue.

[2021-10-01 17:23] rushikeshadhav commented on #12
Hii, i would like to work on this issue. Please assign it to me. I will add kunal Kushwaha's notes too.

[2021-10-01 17:37] Utkarsh1504 commented on #12
@rushikeshadhav I'll raise more issues, you can work on that, thank you!

[2021-10-01 18:20] #34 closed

[2021-10-01 18:20] #24 closed

[2021-10-01 18:20] #5 closed

[2021-10-01 19:46] Kajal13081 commented on #43
You have changed the topic of issue so do I have to work on only the last algorithm @Utkarsh1504 ?

[2021-10-02 02:20] Utkarsh1504 commented on #43
@Kajal13081 No you can work on all three I'll raise for that

[2021-10-02 02:34] Utkarsh1504 commented on #43
I have updated the issue and created the file also you can start writing your content in that, Thank you!

[2021-10-02 02:39] Utkarsh1504 opened #45 "new lesson: Subarrays"
### ⭐ Request Type

Add notes for the lesson Subarrays.
you can start your contribution from this [file](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/subarrays.md)

## Topic:
1. Introduction
2. some problems on subarrays
3. Two Pointers Algorithm
4. Sliding Window

### 💻 Location

This file is at:
section: 4
lesson: E
order: 4E
file-name: [subarrays.md](https://github.com/Utkarsh1504/

[2021-10-02 02:55] Utkarsh1504 opened #46 "improve: Complexity Analysis"
### ⭐ Summary

Please improve this lesson and give the following explanation:
- Memory in Computer Science
- What is Complexity Analysis
- why complexity analysis
- Complexity analysis of an algorithm
- types of complexities
- example

### 💻 Location

Location is at

section: 7
lesson: A
order: 7A
filename: [intro-complexity.md](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/intro-compl

[2021-10-02 03:16] GuptaHimanshu01 commented on #45
Hey, I would like to contribute to this issue.

[2021-10-02 03:42] AlphaVS-76 commented on #12
Hey! Can I get this issue?

[2021-10-02 03:55] Abhijit25Mishra commented on #46
Yep, I can take this up, I just finished studying this in my sem 3.

[2021-10-02 06:46] tanishagupta1 opened #47 "Operators in java(Explanatory code should be in java)"
### ⭐ Summary

![Screenshot (2673)](https://user-images.githubusercontent.com/73746588/135706563-c6005a2b-6ddd-4ab1-b55f-7d517a110910.png)
The Explanatory code is in C++ in operators in java lesson, it should be rectified to a java example.

### 💻 Location

operators.md

### ❌ Additional Info

_No response_

[2021-10-02 06:47] rushikeshadhav commented on #1
Can I contribute?
Please assign this to me.
Thank you

[2021-10-02 06:47] tanishagupta1 commented on #47
I would like to work on this issue, if possible.

[2021-10-02 06:47] rushikeshadhav commented on #47
Can I contribute?
Please assign this to me.
Thank you

[2021-10-02 06:48] rushikeshadhav commented on #46
Can I contribute?
Please assign this to me.
Thank you

[2021-10-02 07:32] Utkarsh1504 commented on #12
@AlphaVS-76 If the assigned person is not working (PR should be created within one week from the assigned day), I'll assign this to you. Till then you can work on other issues, Thank you!

[2021-10-02 07:36] Utkarsh1504 commented on #46
@Abhijit25Mishra @rushikeshadhav we want to add the notes of DSA-Bootcamp-Java as Kunal taught on his Youtube channel.
If anyone can add his notes then I'll assign this issue to him.

[2021-10-02 07:41] Utkarsh1504 commented on #47
@tanishagupta1 Initially I was planning to make this website for C++ and then changed my mind to Java. That's why It is in C++.
An Issue for this is already created and also assigned to someone, if he does not work on this, I will assign that to you. Thank you!

[2021-10-02 07:42] Utkarsh1504 commented on #45
This one is already taken by someone please work on the other issues I'll be opening more, don't worry!

[2021-10-02 07:44] Abhijit25Mishra commented on #46
yeah sure i will add his notes.

[2021-10-02 07:47] Utkarsh1504 commented on #1
@rushikeshadhav ok you can start working on it.
Please take reference from https://www.youtube.com/watch?v=n60Dn0UsbEk video, and make document according to that.
Thank you!

[2021-10-02 07:49] Utkarsh1504 commented on #46
Ok sure go ahead 👍

[2021-10-02 07:51] #23 closed

[2021-10-02 08:00] tanishagupta1 commented on #47
ok sure thank you

[2021-10-02 08:39] Kajal13081 commented on #43
sure

[2021-10-02 08:40] Kajal13081 commented on #45
Hey @Utkarsh1504 assign me this issue please.

[2021-10-02 09:20] rushikeshadhav commented on #46
Yes, sure I will do it

[2021-10-02 09:47] Vivek-Prajapatii commented on #6
Hey @Utkarsh1504 as per my opinion you should keep the overloading part in the lessons of polymorphism.
it would be relatable there, it would be too lengthy for the new learners.

[2021-10-02 09:59] Utkarsh1504 commented on #6
@Vivek-Prajapatii It is an important concept regarding the methods in Java, overloading in oop will be in the context of objects.
if you can refer to this video to get more information https://www.youtube.com/watch?v=vvanI8NRlSI

[2021-10-02 10:04] Utkarsh1504 commented on #46
@rushikeshadhav I have assigned you an issue already, please work on that, this has been assigned to @Abhijit25Mishra.
I will add more issue regarding complexity and will assign you!

[2021-10-02 10:24] Vivek-Prajapatii commented on #6
okay fine ill add it here only

[2021-10-02 10:51] parvsharmaa opened #49 "new lesson: Count Sort"
### ⭐ Request Type

Adding in-depth documentation on the Count Sort Algorithm .

### **Lesson Content :**

1. Introduction to Count Sort
2. Complete explanation on Count sort
3. Complexity of Count Sort
4. Worst-Case + Best Case
5. Code for Count Sort
7. Link for Problems related to it

You can start your contribution from the file: https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/countso

[2021-10-02 10:51] parvsharmaa commented on #49
@Utkarsh1504 can I proceed with this issue ?

[2021-10-02 11:08] Utkarsh1504 commented on #49
@parvsharmaa you can start working on this issue, but don't copy from other websites, take reference from the different websites and try to explain it in your own language. Thank you for raising this issue!

[2021-10-02 11:10] Utkarsh1504 commented on #47
yes, sure!

[2021-10-02 11:10] #47 closed

[2021-10-02 12:54] preeti-14-7 commented on #7
Can you add hacktoberfest tag in this issue. So that it will be counted in the event too.

[2021-10-02 13:04] Utkarsh1504 opened #53 "new lesson: Time Complexity"
### ⭐ Request Type

Add in-depth documentation on the time complexity in Computer science.

## Lesson Content

The lesson must contain at least these are the topics:
1. what is time complexity
2. Introduction to Asymptotic Notation(AN) + why AN
3. Type of AN
   - Big Oh Notation
   - Big Omega(Ω) Notation
   - Big Theta(Θ) Notation
   - Little-Oh Notation
   - Little-Omega Notation
4. guidelines f

[2021-10-02 13:17] nikk-16 commented on #53
can i work on it!

[2021-10-02 13:35] paltannistha commented on #12
@Utkarsh1504 can u please tell me the deadline to create the PR? Is it 6th October, 2021?

[2021-10-02 13:51] nancy0119 commented on #53
@Utkarsh1504 Pls assign this issue to me. I'll try preparing the best documentation. Thank you.

[2021-10-02 14:31] ananya0504 opened #55 "Typo error in README.md"
### Other

Line No. 88 of README.md
Request to change "git add -a" -> "git add ."

[2021-10-02 15:26] Utkarsh1504 commented on #53
@nancy0119 Ok go-ahead

[2021-10-02 15:27] Utkarsh1504 commented on #53
@nikk-16 I will assign you the next issue please drop a comment there.

[2021-10-02 15:39] Utkarsh1504 commented on #12
@paltannistha take your time, there is a lot of time, In case if you want some more time, I will extend, so don't worry.

[2021-10-02 15:45] Utkarsh1504 commented on #55
oops,
- there should be `git add -A` also
- `git add .` this will work too.

Can you fix it? please make a PR I'll merge.
Thank you for pointing out the typo

[2021-10-02 16:33] paltannistha commented on #12
@Utkarsh1504 okay thanks a lot.

[2021-10-02 16:38] parvsharmaa commented on #49
Will do, thanks :)

[2021-10-02 17:20] KhafiaAyyub opened #57 "improve: <Java Development Setup>"
### ⭐ Summary

1.More Explanation for Java Setup .
2.Reorganize the md file

### 💻 Location

Section: `Basics`
Lesson: `3`
Order: `2B`
File name: `java-setup.md`

[2021-10-02 17:21] KhafiaAyyub commented on #57
can i work on this issue?

[2021-10-02 17:31] Utkarsh1504 commented on #57
@KhafiaAyyub please describe in brief what are the things you want to add in this lesson

[2021-10-02 17:42] ParnaviKulkarni opened #59 "new lesson: space-complexity"
### ⭐ Request Type

I want to add information in space-complexity.md
Structure:
- Concept
- Need & Application
- Calculation of space complexity
- Explanation about calculation using examples
- Space complexities of common algorithms

### 💻 Location

Location is at

section: 7
lesson: C
order: 7C
filename: space-complexity.md

### ❌ Additional Info

_No response_

[2021-10-02 17:53] ParnaviKulkarni commented on #59
I will like to work on this issue.

[2021-10-02 18:05] #9 closed

[2021-10-02 18:10] #59 closed

[2021-10-02 18:21] KhafiaAyyub commented on #57
I would like to add setup for JAVA in different Operating System.

[2021-10-02 18:22] parvsharmaa commented on #49
@Utkarsh1504 done with the Issue, please review pr #60

[2021-10-02 19:03] sbaijal commented on #46
Can I work on this issue?
I am in my 5th semester and quite clear with DSA concepts.

[2021-10-02 19:55] Abhijit25Mishra commented on #46
While I understand where ur coming from , please do give the new comers a chance. If I face any problems along the way I will definitely contact you for guidance. Thanks 😊

[2021-10-02 20:08] aastha01chauhan commented on #1
hey, I want to contribute here, please assign this issue to me

[2021-10-03 03:07] Utkarsh1504 commented on #1
@aastha01chauhan this issue is already assigned by someone. you can work on other issues I'll raise more issues.

[2021-10-03 06:03] tanishagupta1 commented on #4
Hey @Utkarsh1504 , Since the issue which I raised earlier is not resolved with the linked PR can you assign me this issue to change the code

[2021-10-03 06:06] tanishagupta1 opened #61 "suggested improvement Readme.md"
### ⭐ Summary

The instructions require the local repository to set upstream as well for updated changes, which is currently missing the docs
![Screenshot (2675)](https://user-images.githubusercontent.com/73746588/135742142-3dbc271e-e35c-4fc3-87f7-c24f1efaf283.png)

### 💻 Location

readme.md

### ❌ Additional Info

_No response_

[2021-10-03 06:19] #55 closed

[2021-10-03 06:21] Utkarsh1504 commented on #4
@tanishagupta1 ok sure you can work on this

[2021-10-03 06:22] Utkarsh1504 commented on #57
ok sure make a PR if PR seems good to me then I'll add the hacktoberfest label.

[2021-10-03 06:24] Utkarsh1504 commented on #61
Yes please improve the readme, thank you for raising this issue.

[2021-10-03 06:27] #7 closed

[2021-10-03 06:43] Utkarsh1504 opened #63 "improve: Space Complexity"
### ⭐ Summary

Please improve the documentation for the lesson space complexity, try to make to better.

If anyone wants to do it, I'll assign him.

### 💻 Location

section: 7
lesson: C
order: 7C
filename: [space-complexity.md](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/space-complexity.md)

### ❌ Additional Info

You can take the help of other markdown files in the [/lesson](https:

[2021-10-03 06:46] ananya0504 commented on #55
Thanks, will this be accepted for HacktoberFest?

[2021-10-03 06:48] ananya0504 commented on #63
Would love to contribute to this!

[2021-10-03 06:50] Utkarsh1504 opened #64 "new lesson: Recurrence Relations"
### ⭐ Request Type

Add in-depth documentation on the lesson Recurrence Relation.

## Lesson Content
The lesson must contain at least these are the topics:
1. Introduction to  Recurrence Relation
2. Type of it.
3. Divide-and-Conquer Recurrence Relation
4. Akra-Bazzi Theorem + used case + examples
5. Linear Recurrence Relation
6. Solving Homogenous Linear Recurrence Relation
7. Question 👍🏻
    - Fi

[2021-10-03 06:51] Utkarsh1504 commented on #55
No, unfortunately, type errors will not be considered for hacktoberfest, but still a helpful contribution

[2021-10-03 06:58] Utkarsh1504 opened #65 "new lesson: Introduction to Recursion"
### ⭐ Request Type

complete the content for the lesson `Recursion`, explain in best possible ways

## Lesson Content
The lesson must contain at least these are the topics:
1. dry run program for recursion
2. Fibonacci number + complete explanation including dry run + visualization

### 💻 Location

location of file is at:
section: 8
lesson: A
order: 8A
filename: [intro-recursion.md](https://github

[2021-10-03 06:59] quln commented on #65
@Utkarsh1504 Please assign me, I will do this in the best possible way. thank you

[2021-10-03 07:19] KhafiaAyyub commented on #57
Okay, Thank you!

[2021-10-03 08:01] Utkarsh1504 commented on #65
@quln sure.

[2021-10-03 08:14] PranaySanjule commented on #64
@Utkarsh1504 Please assign it to me, I will do my best to create this documentation.

[2021-10-03 08:32] Mitz190 commented on #1
Can I contribute?
Please assign this to me.
Thank you

[2021-10-03 09:30] utkarshgupta611 commented on #1
Can I contribute?
Please assign this to me.
Thank you

[2021-10-03 13:19] DhwaniSinghal3110 opened #68 "new lesson: Time and Space Complexity Tradeoff"
### ⭐ Request Type

I want to add another lesson to the following section.

Section: Space and Time Complexity
Name of the new lesson: Time and Space Complexity Tradeoff

### 💻 Location

section: 7
lesson: E
order: 7E
filename: space-time-tradeoff.md

### ❌ Additional Info

_No response_

[2021-10-03 14:58] Utkarsh1504 commented on #68
@DhwaniSinghal3110 please mention what would you like to add to this lesson. Just briefly mention the core concept you want to work on.

[2021-10-03 16:26] rushikeshadhav commented on #46
@Utkarsh1504  Hey, I don't know how to or where to make the changes. Could you please guide me. I ran the "npm install --global gatsby-cli" command but it is giving error. I have no idea how can I add Complexity analysis.

[2021-10-03 17:35] Utkarsh1504 commented on #46
@rushikeshadhav this issue is not assigned to you, please work only on those assigned to you. Please read the issue, the file is already associated there in which you have to do contribution. And one thing before running `npm install` make sure you have node installed on your system

[2021-10-03 17:43] Utkarsh1504 opened #70 "new lesson: Radix Sort"
### ⭐ Request Type

Add in-depth documentation for the lesson Radix Sort.
you can start your contribution from this [file](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/radixsort.md)

## Lesson Content
The lesson must contain at least these are the topics:
1. Introduction
2. illustration & implementation of radix sort
3. code for radix sort
4. complexity analysis
5. applications

### 💻

[2021-10-03 17:48] Utkarsh1504 opened #71 "new lesson: Flow of Recursion"
### ⭐ Request Type

Add in-depth documentation for the lesson Flow of Recursion.
you can start your contribution from this [file](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/flow-of-recursion.md)

## Lesson Content
The lesson must contain at least these are the topics:
1. Visualising Recursion (Recursion Tree)
2. example Fibonacci recursive tree
3. Problem solving using recursion
4.

[2021-10-03 17:51] Utkarsh1504 opened #72 "new lesson: Recursion & Array"
### ⭐ Request Type

Add in-depth documentation for the lesson Recursion and Arrays.
you can start your contribution from this [file](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/recursion-arrays.md)

## Lesson Content
The lesson must contain at least these are the topics:
1. Introduction
2. Approach for Recursion and Arrays
3. Recursion and function helper
4. Recursive selection sort

[2021-10-03 17:54] Utkarsh1504 opened #73 "new lesson: Recursion & String"
### ⭐ Request Type

Add in-depth documentation for the lesson Recursion and Strings.
you can start your contribution from this [file](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/recursion-string.md)

## Lesson Content
The lesson must contain at least these are the topics:
1. Introduction
2. approach for recursion and strings
3. program example(remove consecutive character duplicates)

[2021-10-03 17:57] Utkarsh1504 opened #74 "new lesson: Merge Sort"
### ⭐ Request Type

Add in-depth documentation for the lesson Merge Sort.
you can start your contribution from this [file](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/mergesort.md)

## Lesson Content
The lesson must contain at least these are the topics:
1. Introduction
2. Understanding the merge sort
3. implementation + illustration
4. code for merge sort
5. complexity analysis+stab

[2021-10-03 17:59] Utkarsh1504 opened #75 "new lesson: Quick Sort"
### ⭐ Request Type

Add in-depth documentation for the lesson Quick Sort.
you can start your contribution from this [file](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/quicksort.md)

## Lesson Content
The lesson must contain at least these are the topics:
1. Introduction
2. Understanding the quick sort
3. implementation + illustration
5. code for Quick Sort
5. complexity analysis+stab

[2021-10-03 18:02] Utkarsh1504 opened #76 "new lesson: Introduction to Maths In DSA"
### ⭐ Request Type

Add in-depth documentation for the lesson Introduction to Maths in DSA.
you can start your contribution from this [file](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/intro-maths.md)

## Lesson Content
The lesson must contain at least these are the topics:
1. Intro
2. Maths for DSA
3. types of maths used for DSA
   - Discrete mathematics - brief intro
   - Recurrenc

[2021-10-03 18:03] DhwaniSinghal3110 commented on #68
Space-Time tradeoff in computer science is basically a problem solving technique in which we solve the problem:
1. Either in less time and using more space, or
2.  In very little space by spending more time.

If our problem is taking a long time but not much memory, a space-time trade-off would let us use more memory and solve the problem more quickly. Or, if it could be solved very quickly but re

[2021-10-03 18:07] Utkarsh1504 opened #77 "new lesson: Compelete Bitwise Operators"
### ⭐ Request Type

Add in-depth documentation for the lesson Bitwise Operator.
you can start your contribution from this [file](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/bitwise-operator.md)

## Lesson Content
The lesson must contain at least these are the topics:
1. Introduction
2. Bit Manipulation
3. some program examples and explanation

### 💻 Location

location of file is at:

[2021-10-03 18:10] Utkarsh1504 opened #78 "new lesson: Number Theory Part-A"
### ⭐ Request Type

Add in-depth documentation for the lesson Number theory part-A .
you can start your contribution from this [file](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/num-one.md)

## Lesson Content
The lesson must contain at least these are the topics:
1. Introduction
2. range of numbers
3. Prime Numbers
4. sieve of Eratosthenes + complexity analysis
5. Square root
6. Newt

[2021-10-03 18:12] Utkarsh1504 opened #79 "new lesson: Number Theory Part-B"
### ⭐ Request Type

Add in-depth documentation for the lesson Number Theory Part-B.
you can start your contribution from this [file](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/num-two.md)

## Lesson Content
The lesson must contain at least these are the topics:
1. Modulo Properties
2. Die-Hard examples
3. HCF/GCD
4. Euclidean algorithms
5. Euler's totient
6. LCM
7. segmented sieve

[2021-10-03 18:15] Utkarsh1504 opened #80 "new lesson: Number Theory Part-C (part-1)"
### ⭐ Request Type

Add in-depth documentation for the lesson Number Theory Part-C.
you can start your contribution from this [file](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/num-three.md)

## Lesson Content
The lesson must contain at least these are the topics:
1. Bitwise + DP
2. Extended Euclidean algorithm
3. Modulo Multiplicative Inverse
4. Linear Diophantine Equations
5. Matri

[2021-10-03 18:17] Utkarsh1504 commented on #68
@DhwaniSinghal3110 Ok, go ahead

[2021-10-03 20:18] ParnaviKulkarni commented on #71
Can I work on this issue? I have few more resources which I can use for this lesson.

[2021-10-04 06:29] #63 closed

[2021-10-04 06:35] #61 closed

[2021-10-04 07:08] Shaurya-21 commented on #74
please assign this issue

[2021-10-04 09:07] ankit-95 commented on #73
@Utkarsh1504. Please assign this issue to me.

[2021-10-04 09:53] KhafiaAyyub commented on #75
please assign this issue to me.

[2021-10-04 11:53] shoebxsiddiqui commented on #29
Assign this to me, I have made a .md file on this topic @Utkarsh1504

[2021-10-04 13:55] AsswinCR commented on #76
@Utkarsh1504 can I work on this issue?

[2021-10-04 14:34] shoebxsiddiqui commented on #77
assign me this

[2021-10-04 15:33] Utkarsh1504 commented on #76
yes, sure!

[2021-10-04 16:24] shoebxsiddiqui commented on #77
hey @Utkarsh1504  Can u pls tell me whether this is under Hacktober ?? And how much plagarism the md file could have??

[2021-10-04 16:33] Mansivjain00 commented on #36
Just an update: I am still working on it, got delayed due to some reason. Either ways would like to know by when you want it.

[2021-10-04 16:41] Utkarsh1504 commented on #36
there is no timeline, you can take your time.

[2021-10-04 16:48] Utkarsh1504 commented on #77
you can refer to any material which is your favorite one, take reference from those and write it in your own language so that it is self-explanatory.
Yep! hacktoberfest label is there, but don't do it just for the swags.

[2021-10-04 16:51] shoebxsiddiqui commented on #77
@Utkarsh1504 I got ur point brother, and yeah at first i was doing this for swag when i was a newbie, But now I am enjoying these stuffs and it give me so much joy when we post PRs

[2021-10-05 03:28] N00Bmaster2810 commented on #78
@Utkarsh1504 could you please assign me this

[2021-10-05 04:17] Utkarsh1504 commented on #78
yes, sure.

[2021-10-05 05:08] RahulSoni0 commented on #72
Can I work on this issue ?

[2021-10-05 05:08] RahulSoni0 commented on #72
/assign

[2021-10-05 05:10] namangirdhar16 commented on #79
@Utkarsh1504 can i work on this?

[2021-10-05 07:39] #4 closed

[2021-10-05 07:40] Utkarsh1504 commented on #79
yes you can.

[2021-10-05 07:41] Utkarsh1504 commented on #72
sure!

[2021-10-05 08:17] Utkarsh1504 commented on #73
sure.

[2021-10-05 08:18] Utkarsh1504 commented on #75
Yes sure!

[2021-10-05 10:57] shoebxsiddiqui commented on #77
#86 done @Utkarsh1504

[2021-10-05 16:39] shoebxsiddiqui commented on #1
I will work on this

[2021-10-05 19:38] priithaa commented on #80
Hi, @Utkarsh1504 I would like to contribute to this issue.

[2021-10-06 02:12] crisevangelene commented on #75
Can I give the code for Quick Sort? Please assign the issue.

[2021-10-06 02:17] crisevangelene commented on #12
Hi, I would like to contribute code on Binary Search. Can I do it ?

[2021-10-06 03:43] Utkarsh1504 commented on #80
@priithaa OK, Sure! This lesson will be quite lengthy you have to write a lot, don't burn out, take your time, and make your contribution. :octocat:  If you have any doubts regarding this you can ask in the discussion forum

[2021-10-06 05:55] tanishagupta1 opened #87 "Precedence in operators.md"
### ⭐ Summary

![Screenshot (2679)](https://user-images.githubusercontent.com/73746588/136147910-1b75ea44-12b1-42f5-b5ff-6cb6b9d58129.png)
Image or table of precedence is absent in operators.md

### 💻 Location

lessons/operators.md

### ❌ Additional Info

_No response_

[2021-10-06 06:26] Utkarsh1504 commented on #87
please add the precedence table or image which is convenient for you, and also give some examples of how to use the operator precedence. Thank you for raising this issue!

[2021-10-06 07:00] tanishagupta1 commented on #87
Sure I'll just raise a PR for this soon

[2021-10-06 08:24] priithaa commented on #80
Yes, I will keep in mind, thank you!!

[2021-10-06 09:00] sujoy-coder opened #89 "improve: Printing Patterns"
### ⭐ Summary

Hello @Utkarsh1504
Here I would like to add a pattern printing concept with explanation + codes.
I love to contribute here, assign me.
_Thanks_

### 💻 Location

title: Printing Patterns
section: Arrays
order: 4C
filename: [print-patterns.md](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/print-patterns.md)

### ❌ Additional Info

_No response_

[2021-10-06 11:28] shoebxsiddiqui commented on #89
assign

[2021-10-06 14:13] souvikrajsingh commented on #70
hey @Utkarsh1504 , I would like to work on this issue, can you please assign it to me, thank you!

[2021-10-06 15:32] afuu21 opened #93 "improve: <contributions.md>"
### ⭐ Summary

Fixing a typo from frontmattter -> frontmatter

### 💻 Location

The change is made in contributions file of Java DSA under the topic lesson

### ❌ Additional Info

_No response_

[2021-10-06 15:36] afuu21 opened #94 "improve: <contributing.md>"
### ⭐ Summary

The order of the list of inks in Java DSA contributing files is terms, lesson, ....<br>
but the actual order in which the details are mentioned is lesson, terms, ....

### 💻 Location

I would like to make change as the terms first then lesson and so on
so the new order of topics would be, first terms then list

### ❌ Additional Info

_No response_

[2021-10-06 15:58] crisevangelene commented on #75
okay sure

[2021-10-06 16:27] souvikrajsingh commented on #70
@Utkarsh1504  thank you, will get on this ASAP!

[2021-10-06 17:37] #94 closed

[2021-10-06 17:39] #93 closed, assigned to nobody

[2021-10-06 17:40] #87 closed

[2021-10-06 19:14] Singhriddhi075 commented on #80
Hello @Utkarsh1504 may I contribute on few topics because I think it's quite lengthy for one person?

[2021-10-07 06:18] Utkarsh1504 opened #97 "new lesson: Number Theory Part-C part-2"
### ⭐ Request Type

Add further in-depth documentation for the remaining lesson Number Theory Part-C.
you can start your contribution from this [file](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/num-three.md)

Lesson Content
The lesson must contain at least these are the topics:

1. Mathematical Expectation
2. Fermat’s Theorem
3. Wilson's Theorem
4. Lucas Theorem
5. Chinese Remainder

[2021-10-07 06:18] Utkarsh1504 commented on #80
@Singhriddhi075 yes I am dividing this issue into two parts by doing the syllabus half and half, because this may be very long for both of you. You can drop a comment there and I will assign you part-2 of this issue.

[2021-10-07 07:55] priithaa commented on #80
Yes @Utkarsh1504 this works

[2021-10-07 18:26] #89 closed

[2021-10-07 18:26] #1 closed

[2021-10-07 18:42] aastha01chauhan commented on #70
hey, can I work on this?

[2021-10-07 19:01] Singhriddhi075 commented on #97
Ok, But where is the discussion form?

[2021-10-08 09:51] sujoy-coder opened #104 "improve: Standard Practice Questions on Recursion"
### ⭐ Summary

Hi @Utkarsh1504
I would like to work on **Standard Practice Questions** on **Recursion** section. Here I will take popular question on recursion and explain that with codes.
Please assign it to me.
_Thanks_

### 💻 Location

title: Standard Practice Questions
section: Recursion
order: 8G
filename: [recursion-practise.md](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/recur

[2021-10-08 10:24] Utkarsh1504 commented on #104
@sujoy-coder absolutely go ahead. Just share the question you want to add.

[2021-10-08 13:08] afuu21 opened #106 "improve: <About>"
### ⭐ Summary

Typo fixed "concept" ---> "concepts"

### 💻 Location

About section

### ❌ Additional Info

_No response_

[2021-10-08 14:42] ritik307 opened #109 "kljhglk"
### ⭐ Summary

jhgkhjl

### 💻 Location

m,n

### ❌ Additional Info

nmvbnm

[2021-10-09 02:19] #106 closed

[2021-10-09 05:01] #80 closed

[2021-10-09 15:27] #43 closed

[2021-10-10 00:34] #57 closed

[2021-10-11 15:52] iamvs-2002 opened #116 "new lesson: Multithreading"
### ⭐ Request Type

Add a lesson on Multithreading Concepts

### 💻 Location

https://github.com/Utkarsh1504/DSA-Java/tree/main/lessons

### ❌ Additional Info

_No response_

[2021-10-12 07:22] ananya0504 opened #117 "new lesson: Jagged Array in Java"
### ⭐ Request Type

Jagged arrays are also multidimensional arrays and are something special in Java. I want to make a lesson on jagged arrays and explain them.

### 💻 Location

Location is at

section: 4
lesson: F
order: 4F
filename: jagged-arrays.md

### ❌ Additional Info

_No response_

[2021-10-12 07:22] ananya0504 commented on #117
Let me know if a new lesson is okay for this or shall I explain the concept of Jagged arrays in a previous lesson?

[2021-10-12 07:25] ananya0504 opened #118 "improve: Subarrays"
### ⭐ Summary

The subarrays lesson is empty. I would like to work on it, as there are no open issues about the same.

### 💻 Location

Location is at

section: 4
lesson: E
order: 4E
filename: subarrays.md

### ❌ Additional Info

_No response_

[2021-10-12 08:39] Utkarsh1504 commented on #118
Already opened #45, but you can work on this issue.

[2021-10-12 14:38] #104 closed, assigned to sujoy-coder

[2021-10-13 08:05] arushi09-hub opened #119 "improve: intro-trees is empty"
### ⭐ Summary

Intro-trees lessons is empty, i would like to work on it as Tree is also an important type of Data Structures.

### 💻 Location

lessons/Intro-trees.md

### ❌ Additional Info

_No response_

[2021-10-13 08:17] souvikrajsingh commented on #70
@Utkarsh1504 hey, I'm sorry I didn't finish this, was facing some problem with my Laptop will complete it by today evening for sure! Thank you!

[2021-10-17 09:10] sujoy-coder opened #123 "improve: Linear Search"
### ⭐ Summary

Hi @Utkarsh1504
I would like to improve documentation and code for **Linear Search** in **Searching & Sorting** Section
Please assign it to me.
Thanks

### 💻 Location

title: Linear Search
section: Searching & Sorting
order: 5A
filename: [linearsearch.md
](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/linearsearch.md)

### ❌ Additional Info

_#hacktoberfest2021_

[2021-10-17 09:14] sujoy-coder opened #124 "improve: Binary Search"
### ⭐ Summary

Hi @Utkarsh1504
I would like to improve documentation and code for **Binary Search** in **Searching & Sorting** Section
Please assign it to me.
_Thanks_

### 💻 Location

title: Binary Search
section: Searching & Sorting
order: 5B
filename: [binarysearch.md](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/binarysearch.md)

### ❌ Additional Info

_#hacktoberfest2021_

[2021-10-17 18:58] Singhriddhi075 commented on #97
Hey @Utkarsh1504  I send pull request already but it doesn't show.Have you received?

[2021-10-19 05:37] shoebxsiddiqui opened #128 "improve: <assignment.md>"
### ⭐ Summary

I want to add more questions to it.

### 💻 Location

DSA-Java/lessons/assignment.md

### ❌ Additional Info

_No response_

[2021-10-20 10:03] Raven1233 opened #129 "new lesson: recursion-string"
### ⭐ Request Type

I have written notes on String recursion and would love to contribute to this repository.

### 💻 Location

This lesson is for DSA-Java

### ❌ Additional Info

_No response_

[2021-10-20 10:15] KhafiaAyyub commented on #123
please assign this to me?

[2021-10-20 10:30] KhafiaAyyub opened #130 "improve: Selection sort"
### ⭐ Summary

The lesson will contain  the  topics as follows:
- Introduction
- Understanding the selection sort
- implementation + illustration
- code for selection  Sort
- complexity analysis+stability
- applications
- selection sort vs bubble sort
- selection sort vs merge sort
- selection sort vs quicksort

### 💻 Location

title: Selection Sort
section: Searching & Sorting
order: 5D
filename:

[2021-10-20 11:51] afuu21 opened #131 "improve: CONTRIBUTING.md"
### ⭐ Summary

Corrected few typos.

### 💻 Location

Under the terms used topic.

### ❌ Additional Info

_No response_

[2021-10-20 12:02] #131 closed, assigned to nobody

[2021-10-20 12:08] quln opened #133 "update: contribution guidelines"
### Other

I want to add the markdown format in the contribution guidelines

### Additional information

_No response_

[2021-10-20 12:22] #117 closed, assigned to ananya0504

[2021-10-20 12:25] #133 closed, assigned to nobody

[2021-10-20 12:34] Utkarsh1504 commented on #11
@paltannistha are you working on this issue? In case if you don't just let me know.

[2021-10-20 12:37] Captainfaisal13 commented on #11
No I'm not

On Wed, Oct 20, 2021, 18:05 Utkarsh Mishra ***@***.***> wrote:

[2021-10-20 12:42] sujoy-coder commented on #12
I would like to improve it. please assign me @Utkarsh1504

[2021-10-20 13:05] siddhiiguptaa commented on #22
Yes I am! Kindly give me 2-3 more days! Will update soon 💯

[2021-10-21 16:47] priithaa opened #138 "new lesson: 2 Pointer Method in Arrays"
### ⭐ Request Type

Would like to add a lesson to illustrate the use of the 2-pointer method algorithm.  It would include the following
1.  Working of the algorithm.
2. Time Complexity Analysis.
3.  Situations where we can use the algorithm.
4.  Some practice questions.

### 💻 Location

section: 4
lesson: E
order: 4E
filename: two-pointer.md

### ❌ Additional Info

_No response_

[2021-10-23 03:57] #119 closed, assigned to arushi09-hub

[2021-10-24 07:23] Ayushinanda opened #141 "new lesson: Binary Search"
### ⭐ Request Type

 I want to add  Binary search lesson under Searching and Sorting.

### 💻 Location

Section : 5
Lesson : B
Order : 5B
File Name: Binary Search

### ❌ Additional Info

_No response_

[2021-10-24 07:29] DhwaniSinghal3110 opened #142 "new lesson: Introduction to Stack"
### ⭐ Request Type

I want to add another lesson to the following section.

Section: Stacks and Queues
Name of the new lesson: Intro to Stack

### 💻 Location

section: 13
lesson: A
order: 13A
filename: [intro-stack.md](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/intro-dp.md)

### ❌ Additional Info

_No response_

[2021-10-24 07:38] Ayushinanda opened #143 "new lesson: Introduction to DP"
### ⭐ Request Type

I want to add a new lesson Introduction to DP.
Kindly assign me.

### 💻 Location

Section: 19
Lesson: A
Order:19A
Filename : [intro-dp.md](https://github.com/Utkarsh1504/DSA-Java/blob/main/lessons/intro-dp.md)

### ❌ Additional Info

_No response_

[2021-10-28 06:25] #141 closed, assigned to nobody

[2021-10-28 06:25] #124 closed, assigned to nobody

[2021-10-28 09:57] DhwaniSinghal3110 opened #146 "new lesson: Introduction to Heaps"
### ⭐ Request Type

I want to add another lesson to the following section.

Section: Heaps
Name of the new lesson: Introduction to Heaps

### 💻 Location

section: 17
lesson: A
order: 17A
filename: intro-heap.md

### ❌ Additional Info

_No response_

[2021-10-29 18:08] ShivamTyagi12345 commented on #40
okay

[2021-10-30 17:52] #146 closed

[2021-11-06 10:50] r4gesingh47 commented on #12
Hey can i take i see there are no addition for so long i can complete it in two days .If no one is working right now on this issue.

[2021-11-06 10:53] Utkarsh1504 commented on #12
@r4gesingh47 yes you can.

[2021-11-17 04:20] #13 closed

[2021-12-02 14:31] Indicgamer commented on #76
can i work on this project?

[2021-12-04 12:05] Utkarsh1504 commented on #76
yes sure.

[2021-12-05 07:40] Indicgamer commented on #76
i have my college tests right now, will start by 10th december

[2022-03-19 01:30] Kevin12K opened #151 "new lesson: <name-of-the-lesson>"
### ⭐ Request Type

LE

### 💻 Location

E AasT anglia 'location code*

### ❌ Additional Info

Email me please with contact number or live chat link

[2022-07-12 07:11] SrijanShovit commented on #64
@Utkarsh1504 Hey! Is this issue still open to working?
Actually I want to start my open source journey!! So could you please tell if I can work on some task in this issue or any other task in the repo?
Waiting to hear from u soon!
Thanks

[2022-09-28 11:42] poojakumari11228 opened #155 "new lesson: <intro-linkedlist>"
### ⭐ Request Type

section: Linked Lists
order: 12B
path: /intro-linkedlist

### 💻 Location

https://github.com/Utkarsh1504/DSA-Java/tree/main/lessons

### ❌ Additional Info

Theoretical concepts plus code implementation

1. What is LinkedList?
2. How LinkedList works internally?
3. Types of LinkedList
4. LinkedList vs Array - when to use what?
5. Creating your own LinkedList
6.  Utilizing java.u

[2022-09-28 12:02] poojakumari11228 opened #156 "new lesson: Introduction to Queue"
### ⭐ Request Type

I want to add another lesson to the following section.  Section: Stacks and Queues Name of the new lesson: Intro to Queue.md

### 💻 Location

section: Queue
path: /intro-queue

### ❌ Additional Info

_No response_

[2022-09-29 14:01] shoebxsiddiqui commented on #128
@Utkarsh1504  did u made a repo for assignment ???

[2022-09-29 14:04] shoebxsiddiqui opened #157 "DP Assignment"
### ⭐ Request Type

I want to add assignment of dp

### 💻 Location

lessons/assignment.md

### ❌ Additional Info

_No response_

[2022-09-30 13:39] shoebxsiddiqui commented on #155
I want to work on this pls assign me this

[2022-09-30 13:57] poojakumari11228 commented on #155
please assign, I have implemented the code just waiting :-)

[2022-10-04 08:48] sanvisharma003 commented on #142
heyy.. i want to contribute to this issue